<a href="https://colab.research.google.com/github/syedshagulhameed13102005/Digital_portfolio/blob/main/Feature%20engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Feature engineering

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {
    "Name": ["John", "Mary", "David", "Emily"],
    "Age": [25, 31, 42, 28],
    "City": ["New York", "Los Angeles", "Chicago", "New York"]
}
df = pd.DataFrame(data)

# Feature engineering: Create a new feature "Age Group"
df["Age Group"] = pd.cut(df["Age"], bins=[0, 30, 50], labels=["Young", "Adult"])

# Feature engineering: Create a new feature "City Code"
city_codes = {"New York": 1, "Los Angeles": 2, "Chicago": 3}
df["City Code"] = df["City"].map(city_codes)

print(df)

    Name  Age         City Age Group  City Code
0   John   25     New York     Young          1
1   Mary   31  Los Angeles     Adult          2
2  David   42      Chicago     Adult          3
3  Emily   28     New York     Young          1